{% extends "base.html" %}
{% load staticfiles %}
{% load i18n admin_static %}



{% block content %}




<section id="form"><!--form-->
    <div class="container  well well-lg">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <div class="login-form"><!--login form-->
            <h2>Login to your account</h2>
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
            {% endfor %}
            {% endif %}
            {% if form.errors and not form.non_field_errors %}
                <p class="errornote">
                {% if form.errors.items|length == 1 %}
                   {% trans "Please correct the error below." %}
                {% else %}
                   {% trans "Please correct the errors below." %}
               {% endif %}
                </p>
              {% endif %}
           <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
               {{ form.username.errors }}
               {{ form.username.label_tag }} {{ form.username }}
               
               {{ form.password.errors }}
               {{ form.password.label_tag }} {{ form.password }}
               <input type="hidden" name="next" value="{{ next }}"/>
              <span>
                <input type="checkbox" class="checkbox"> 
                Keep me signed in
              </span>
             <button type="submit" class="btn btn-default">Login</button>
            </form>
          </div><!--/login form-->
        </div>
        <div class="col-sm-1">
          <h2 class="or">OR</h2>
        </div>
        <div class="col-sm-4">
          <div class="signup-form"><!--sign up form-->
            <h2>New User Signup!</h2>
            <form action="{% url 'account_signup' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              {{Signup_Form.as_p}}
             

            
              <button type="submit" class="btn btn-default signup_form_submit">Signup</button>
            </form>
          </div><!--/sign up form-->
        </div>
      </div>
    </div>
  </section><!--/form-->






<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

{% endblock %}
{% block left_sidebar %}
{% endblock %}