{% extends "base.html" %}

{% load i18n %}

{% block body_class %}account account-settings{% endblock %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-centered well well-sm signup-form ">
       

            <form  method="POST" action="{% url "account_settings" %}" enctype="multipart/form-data">
                <legend>{% trans "Profile" %}</legend>
                <div class="profile-img">
                    <img src="{{ request.user.account.photo }}" height="100" width='100' />
                </div>


                {%  if new_email_address %}<p>{%  trans 'New Email Address:' %} {{ new_email_address }} - {%  trans 'Not verified' %}</p> {% endif %}
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
             <div class="password-change">
            <a href="{% url 'account_password' %}">Password Change</a>
     
        </div>
        </div>
       
    </div>
{% endblock %}
{% block left_sidebar %}

{% endblock %}
