{% load mptt_tags %}
<div class="col-sm-3">
		<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								{% recursetree category_list %}			
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{ node.id }}">
											{{ node.name }}
											{% if not node.is_leaf_node %}
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>

											{% endif %}
										
										</a>
									

									<div id="{{ node.id }}" class="{% if not node.is_leaf_node %}  collapse {% endif %}">
									
										<!--<span {% if not node.is_leaf_node %} style="display:none"{% endif %}>
											{{ node.name }}
															
										</span>-->
											{% if not node.is_leaf_node %}
											<ul>
												{{ children }}
											</ul>
											{% endif %}
									
									</div>
									</h4>
								</div>
								{% endrecursetree %}

								
								
								
							</div>
					</div>
			</div>
	</div>
<script type='text/javascript'>
$(".panel-title").click(function(){
    //$(this).next('ul').slideToggle('500');
    $(this).find('i').toggleClass('fa-plus fa-minus')
});
</script>