{% extends 'base.html' %}

{% load staticfiles %}

{% load product_category %}

{% block content %}
<div class="col-sm-9 padding-right">

					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
						
							<div class="view-product">
								<img src="/media/{{object.productimage_set.all.0.photo }}" alt="" />
								
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
									{% for photo in object.productimage_set.all %}
										<div class="item {% if forloop.first %} active {% endif %}">
										  <a href=""><img src="{{ photo.photo.url }}" alt="" </a>
										 
										</div>
									{% endfor %}
										
										
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="{% static 'images/product-details/new.jpg'%}" class="newarrival" alt="" />
								<h2>{{object.name}}</h2>
								<p>Product ID: {{object.id}}</p>
								<!-- <img src="{% static 'images/product-details/rating.png'%}" alt="" /> -->
								<span>
									<span>RS: {{object.price}}/-</span>
									<br>
									<label>Quantity:</label>
									<input type="text" id="quantity"  type="number" name="quantity" value="1" autocomplete="off" size="2" {%if object.qty == 0 %}disabled="disabled"{% endif %}/>
									<button type="button" id="add_to_cart"class="btn btn-default cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
								<p><b>Rating:</b> {{object.get_avg_rating|floatformat:"-3" }}</p>
									
								<p><b>Availability:</b>{%if object.qty == 0 %}Out of Stock{% else %} In Stock {% endif %}</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-SHOPPER</p>
								<a href=""><img src="{% static 'images/product-details/share.png'%}" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					



					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">Description</a></li>
								<li><a href="#reviews" data-toggle="tab">Reviews (<p id="objectnumber">{{object.comments_set.all.count}}<p>)</a></li>
							</ul>
						</div>
						<div class="tab-content">
									<div class="tab-pane fade in active" id="details" >
							{{object.description}}
						</div>
				
							<div class="tab-pane fade" id="reviews" >
								<div class="col-sm-12">
									
									
								</div>
								
								<div class="col-sm-12">
									<div id="comment_list">
										{% for comment in object.comments_set.all %}
										<ul>
											<li><a href=""><i class="fa fa-user"></i>{{ comment.user.username }}</a></li>
											<li><a href=""><i class="fa fa-clock-o"></i>{{ comment.created_on|date:"h:i A" }}</a></li>
											<li><a href=""><i class="fa fa-calendar-o"></i>{{ comment.created_on|date:"d M Y" }} </a></li>
										</ul>
										<p>{{ comment.comments }}</p>
										{% endfor %}
									</div>
									
									<p><b>Write Your Review</b></p>
									{% if request.user.is_authenticated %}
									<form action="#">
										<textarea name="comment" id="comment_text"></textarea>
										<b>Rating: </b> <input type="number" value="0" id="rating" min=0 max="5"/>
										<button type="button" class="btn btn-default pull-right comment_form_submit">
											Submit
										</button>
									</form>
									{% else %}
									<button type="button" class="btn btn-default pull-right"><a href="{% url 'account_login' %} ">signin to review</a></button>
									{% endif %}
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									
								</div>
								
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
{% endblock %}	

{% block left_sidebar %}

{% show_category category_list %}

{% endblock %}		


{% block javascript %}
	<script>
		$.fn.appendComment= function (obj){
			var comment = '<ul>\
										<li><a href=""><i class="fa fa-user"></i>'+obj.user_name+'</a></li>\
										<li><a href=""><i class="fa fa-clock-o"></i>'+ obj.time +'</a></li>\
										<li><a href=""><i class="fa fa-calendar-o"></i>'+ obj.date +' </a></li>\
									</ul>\
									<p>'+obj.comment_text+'</p>';
			
			$(this).append(comment);
			$('#objectnumber').innerHTML = "12345678";
			
			
		}
	
		
		$(".comment_form_submit").click(function(){
			var comment_text = $("#comment_text").val().trim();
			var rating = $("#rating").val();
			if (comment_text == '') return false;
			
			var data = {"comment":comment_text, 'product_id':{{ object.id}}, "rating":rating }	
			$.ajax({
			  type: "POST",
			  url: '/product/ajax/comment/',
			  data: data,
			  success: successFun
			});
			
			function successFun(data){
				console.log(data);
				$("#comment_list").appendComment(data);
				$("#comment_text").val("");
				$("#rating").val('0');
			}
			
		})
	$("#add_to_cart").click(function(){
		var quantity = $("#quantity").val().trim();
			
			if (quantity == '') return false;
			
			var data = {"quantity":quantity, 'product_id':{{ object.id }} }	
			$.ajax({
			  type: "POST",
			  url: '/cart/ajax/cart/',
			  data: data,
			  success: successFun
			});
			
			function successFun(data){
				alert(data.result);
				
			}
			
		})
	</script>


{% endblock %}