{% extends 'base.html' %}

{% load staticfiles %}

{% load product_category %}
{% block content %}
<div class="col-sm-9padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						<div class="row">
						{% for product in product_list %}
						
							<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<a href="{{product.slug}}"><img src="/media/{{ product.productimage_set.all.0.photo }}"alt="" ></a>
										<!--<img src="/media/{{product.photo}}" alt="" />-->
										<h2>Rs. {{product.price}}</h2>
										<a href="{{product.slug}}"><p>{{product.name}}</p></a>
										<a href="{{product.slug}}" class="btn btn-default add-to-cart"><i class="fa fa-info"></i>Details</a>
									</div>
								
									
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						
						</div>
						
						{% endfor %}
						</div>
						<div class="row text-center">
						<ul class="pagination ">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
						</div>
					</div><!--features_items-->
				</div>
			
{% endblock %}

{% block left_sidebar %}

{% show_category category_list %}

{% endblock %}	