
.single-products:hover{
  background:#eeeeee;
  -webkit-transition:300ms;
  transition:300ms;
}
.product-image-wrapper{
  -webkit-box-shadow: 41px 24px 168px -60px rgba(0,0,0,0.39);
-moz-box-shadow: 41px 24px 168px -60px rgba(0,0,0,0.39);
box-shadow: 41px 24px 168px -60px rgba(0,0,0,0.39);
}
.single-products:hover .choose{
  background:#eeeeee;
}
.productinfo span{
	color:#ffb74d;
}
button{
	 -webkit-transition:300ms;
  transition:300ms;
}

.carousel-inner{
	min-height:100px;
}
.search_box input:focus{
	background:#ffcc80;
} 