<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop | E-Shopper</title>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/price-range.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
	<link href="{%static 'css/main.css'%}" rel="stylesheet">
	<link href="{%static 'css/responsive.css'%}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png'%}">
</head><!--/head-->

<body>
	{% block header %}
		{% include 'header.html' %}
	{% endblock %}
	
	{% block advertisement %}
		<!-- {% include 'advertisement.html' %} -->
	{% endblock %}
	
	{% block slider %}
	
	
	
	{% endblock %}
	
	<section>
		<div class="container">
			<div class="row">
				{% block left_sidebar %}
				<div class="col-sm-3">
					{% include 'left_sidebar.html' %}
				</div>
				{% endblock %}
				
				{% block content %}
				<div class="col-sm-9 padding-right">
					</div>
				{% endblock %}
			</div>
		</div>
	</section>
	
	{% block footer %}
		{% include 'footer.html' %}
	{% endblock %}
	
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/price-range.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
	
	{% block javascript %}
	
	{% endblock %}
	
</body>
</html>