

{% extends 'base.html' %}
{% load staticfiles product_category %}

	
{% block content %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="{% url 'home' %}">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			
			
			<!--<div class="register-req">
				<p>Please use Register And Checkout to easily get access to your order history</p>
			</div>--><!--/register-req-->

			<div class="shopper-informations well ">
			<form role="form" action="/checkout/"id="Form" method="POST">
			{% csrf_token %}
				<div class="row">
				{% if not request.user.is_authenticated  %}
					<div class="col-sm-3">
						<div class="shopper-info">
							<p>Shopper Information</p>
							
							<div class="form-group">	
								<input type="text" name="username"class="form-control"placeholder="User Name" >
							</div>
							<div class="form-group">	
								<input type="password" name="password"class="form-control" placeholder="Password" >
							</div>	
							<div class="form-group">
								<input type="password" name="confirmpassword"class="form-control" placeholder="Confirm password">
							</div>	
						
							<a class="btn btn-primary" href="{% url 'account_login' %}">Continue</a>
							
							<a  class="btn btn-primary" href="{% url 'account_signup' %}">Register</a>
							
						</div>
					</div>
					{% endif %}
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Bill To</p>
							<div class="form-one">
									<div class="form-group">
									<input type="text" name="company_name"class="form-control" placeholder="Company Name" required value="{{form_data.company_name}}">
									</div>
									<div class="form-group">
									<input type="email" name="email"class="form-control"placeholder="Email*" value="{{form_data.email}}">
									</div>
									<div class="form-group">
									<input type="text" name="title"class="form-control"placeholder="Title" required value="{{form_data.title}}">
									</div>
									<div class="form-group">
									<input type="text" value="{{form_data.firstname}}"name="firstname"class="form-control"placeholder="First Name *" required>
									</div>
									<div class="form-group">
									<input type="text" name="middlename"class="form-control"placeholder="Middle Name" value="{{form_data.middlename}}" >
									</div>
									<div class="form-group">
									<input type="text" name="lastname"class="form-control"placeholder="Last Name *" required value="{{form_data.lastname}}">
									</div>
									<div class="form-group">
									<input type="text" name="address1" class="form-control"placeholder="Address 1 *"required value="{{form_data.address1}}">
									</div>
									<div class="form-group">
									<input type="text" name="address2"class="form-control"placeholder="Address 2" value="{{form_data.address2}}">
									</div>
								
							</div>
							<div class="form-two">
									<div class="form-group">
									<input type="text"name="postalcode" class="form-control"placeholder="Zip / Postal Code *" required  value="{{form_data.postalcode}}">
									</div>
									<div class="form-group">
									<input type="text" name="state"class="form-control"placeholder="State / Province / Region *"required value="{{form_data.state}}">
									</div>
									
									<div class="form-group">
									<input type="text" name="phone"class="form-control"placeholder="Phone *"required value="{{form_data.phone}}">
									</div>
									<div class="form-group">
									<input type="text" name="mobile"class="form-control"placeholder="Mobile Phone"
									value="{{form_data.mobile}}">
									</div>					
							
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Shipping Order</p>
							<textarea  name="msg" placeholder="Notes about your order, Special Notes for Delivery" rows="16" value="{{ form_data.msg }}"></textarea>
							<label><input type="checkbox"> Shipping to bill address</label>
						</div>	
					</div>	
						
				</div><!--row-->
				<div class="row">
					<div class="payment-options" style="margin-top:0;">
							<span>
								<label><input type="checkbox"> Direct Bank Transfer</label>
							</span>
							<span>
								<label><input type="checkbox"> Check Payment</label>
							</span>
							<span>
								<label><input type="checkbox"> Paypal</label>
							</span>
					</div>			
			    </div>
				<button type="submit" class="btn btn-default pull-right">submit</button>
			</form>	
			</div><!--shopper-informations-->




			<div class="review-payment">
				<h2>Review & Payment</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
						{% for cart in cart_list%}

							<td class="cart_product">
								<a href=""><img src="/media/{{cart.product.productimage_set.all.0.photo }}"alt="" height="20" width="20"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{ cart.product.name }}</a></h4>
								<p>Web ID: {{ cart.product.id }}</p>
							</td>
							<td class="cart_price">
								<p>{{cart.product.price}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{ cart.quantity }}" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{cart.product.price|mul:cart.quantity}}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>

						{% endfor %}
					

						
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Cart Sub Total</td>
										<td>{{ sub_total }}</td>
									</tr>
									<tr>
										<td>Exo Tax</td>
										<td>$2</td>
									</tr>
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>Free</td>										
									</tr>
									<tr>
										<td>Total</td>
										<td><span>$61</span></td>
									</tr>
								</table>
							</td>
						
					</tbody>
				</table>
			</div>
		
		</div><!--container-->
	</section> <!--/#cart_items-->

{% endblock content %}
{% block left_sidebar %}
{% endblock %}	