{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load product_category %}

{% block slider %}
<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							{% for prod in product_list %}
							<li data-target="#slider-carousel" data-slide-to="{{forloop.counter|add:'-1'}}" class="{% if forloop.first %}active{% endif %}"></li>
							{% endfor %}
							<!-- <li data-target="#slider-carousel" data-slide-to="1"></li> -->
							<!-- <li data-target="#slider-carousel" data-slide-to="2"></li> -->
						</ol>
						
						
						<div class="carousel-inner">
							{% for prod in product_list %}
							<div class="item {% if forloop.first %}active{% endif %}">
							
								<div class="col-sm-6">
									<h1><span>{{prod.category.name}}</span></h1>
									<h2>{{prod.name}}</h2>
									<p>{{prod.description|slice:"3"}}</p>
									<button type="button" class="btn btn-default get"><a href="product/{{prod.slug}}">Get it now</a></button>
								</div>
							
								<div class="col-sm-6">
									
									{% thumbnail prod.productimage_set.all.0.photo "315x287" as im %}
										<img src="{{ im.url }}">
									{% endthumbnail %}

									<!-- <img src="{% static 'images/home/pricing.png'%}"  class="pricing" alt="" /> -->
								</div>
							
							</div>
							{% endfor %}
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
{% endblock %}
	{% block left_sidebar %}

	{% show_category category_list %}

	{% endblock %}		